name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: azratul
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: apply-kubernetes
        run: | 
          DEPLOY_NAME=$(yq -r '.metadata.name' manifests/deployment.yaml)
          kubectl apply -f manifests/deployment.yaml
          kubectl apply -f manifests/service.yaml
          kubectl apply -f manifests/ingress.yaml
          kubectl rollout restart deployment $DEPLOY_NAME
